<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
</head>
<style>
    form {
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
    }

    .layout input {
        box-sizing: border-box;
        width : 100%
        margin-top : auto;
    }

    .layout textarea {
        width : 400px;
        height : 15em;
        box-sizing: border-box;
    }
</style>
<body>

<div class="layout">
    <form action="/board/write" method="post">
        <p> 게시글 제목 : <input type="text" name="title" value="" placeholder="제목을 입력해주세요"></p>
        <p> user ID : <input type="text" name = "user_id" value ="" placeholder="사용자 ID를 입력해주세요"></p>
        <p> 게시글 :
            <textarea id="content" name="content" placeholder="게시글을 입력해주세요"></textarea>
        </p>
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>